body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
}

main {
    flex: 1 0 auto;
}

nav .brand-logo {
    font-size:10px;
    color: #ffca01;
}

.logo-img {
    margin:10px;
}

.ucf-logo-text {
    margin-left:50px;
}

/*left nav links*/
nav ul a{
    color: #ffca01;
    font-size:10px;
    letter-spacing: 3px;
}

img {

    border-radius:5px;
}

/*footer*/
footer.page-footer {
    /*background-color: #ffca01;*/
    background-color:#ffca01;
    font-size:10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top:0;

}

.footer_font, .footer-headline {
    font-size:9px;
    letter-spacing:2px;
    text-align: justify;
    line-height: 20px;
    color: #000000;
}






.social-links {
    text-align:center;
    padding-bottom:10px;
}

.footer-icon {
    width: 30px;
    height: 30px;
}

.social-links a{
    display: inline-block;
    width:50px;
    height: 50px;
    border: 2px solid #383636;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #383636;
}
.social-links a i{
    padding-top: 15px;
    padding-left: 5px;
    font-size: 20px;
    color: #ffffff;
}



form {
    letter-spacing:3px;
    /*margin-top:15%;*/


    /*margin-top:5%;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,7d7e7d+100 */
    background: rgb(14,14,14); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    /*background-color: rgba(0,0,0,.6);*/

}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
    font-size:10px;
    letter-spacing: 3px;
}

.ucf-button {
    display: block;
    margin-bottom:10px;
    font-size:12px;
    letter-spacing: 3px;
    background-color:#ffca01;
    color: #000000;
}

.ucf-button:hover {
    background-color:grey;
}

.grey-icon {
    color: grey;
}






@media only screen and (max-width: 667px) {
   body {
       background-color: #000000;
   }

    footer.page-footer {
        background-color:#000000;
    }

    .footer-headline, .footer-subtext {
        color: #ffca01;
    }
    .footer_font {
        color: #ffffff;
    }

    form {
        margin-top:10%;
    }
}






/*.banner {*/
    /*background-image: url("../img/test.jpg");*/
    /*height:200px;*/

    /*background-repeat: no-repeat;*/
    /*background-size:cover;*/
    /*-webkit-filter: grayscale; !*sepia, hue-rotate, invert....*!*/
    /*-webkit-filter: brightness(75%);*/
    /*z-index: -1;*/
/*}*/










header {
    margin-bottom:50px;
}
form {
    padding:43px;
    height:100%;
}


.small-text {
    font-size:11px;
    display: inline-block;
    text-align: justify;
    letter-spacing:1px;
    font-family: 'Roboto', sans-serif;
}
.border {
    border:1px solid black;
}

/*.small-img, .large-img {*/
     /*-webkit-filter: grayscale; !*sepia, hue-rotate, invert....*!*/
     /*-webkit-filter: brightness(55%);*/
 /*}*/

h6 {
    text-transform: uppercase;
    letter-spacing:3px;
    font-size:11px;
}

.test{
    margin-top:275px;
    background-color: rgba(0,0,0,.6);
    padding:20px;


}

.slider .slides li .caption {
    width:100%;
    left:0;
}

.content-header-section {
     margin-top:50px;
 }

.content-section {
    margin-bottom:50px;
}


.card.horizontal .card-stacked .card-content {
    padding-top:0;
}

.ucf-text {
    color: #ffca01;
}

.someshit {
    height:400px;
    /*background-color: #e6e6e6;*/
    margin-bottom:50px;
    /*background: linear-gradient(to left,#e6e6e6,#ffffff);*/



    /*height:90%;*/
    /*width:90%;*/
    padding:1em;
    background:
            linear-gradient(-135deg, #e6e6e6 10px, transparent 0) 0 10px,
            linear-gradient(135deg, #e6e6e6 10px, #fff 0) 0 10px;
    background-color: #e6e6e6;
    background-position: left bottom !important;
    background-repeat: repeat-x !important;
    /* otherwise these will be overridden when you add the inline styles with js. */
    background-size: 20px 20px;
//min-height: 100%;





}

.video-spacing-test {
    margin-top:10px;
}




